## Setup and Data Import

In [1]:
import sys
sys.path.insert(0, '..')

import Functions as fxns

from Functions import pd
pd.set_option('display.max_columns', None)

import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('dark_background')

In [2]:
fxns.merge_dfs()

df = pd.read_csv('../data/kkbox_merged.csv')

In [3]:
print(df.shape)
df.columns

(335947, 23)

Index(['msno', 'is_churn', 'city', 'bd', 'gender', 'registered_via',
       'registration_init_time', 'payment_method_id', 'payment_plan_days',
       'plan_list_price', 'actual_amount_paid', 'is_auto_renew',
       'transaction_date', 'membership_expire_date', 'is_cancel', 'date',
       'num_25', 'num_50', 'num_75', 'num_985', 'num_100', 'num_unq',
       'total_secs'],
      dtype='object')

In [4]:
df.sample(10)

,msno,is_churn,city,bd,gender,registered_via,registration_init_time,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
170866,2+2cFvSLr3PG9kDnJIVhwSohxfayQGZam3iomdQCicA=,0,11,25,male,7,20150813,41,30,149,149,1,20170312,20170412,0,20170326,1,2,1,0,8,9,2130.930
92261,LEegyDHpit60k9Y8+sJsnlOUMQ8O9pjm7IMVnm708XU=,0,1,0,NaN,7,20161019,41,30,149,149,1,20170318,20170418,0,20170308,12,0,2,0,14,28,4037.651
174432,bUtsUMU53IlkM89Nf1GZN53E+Nt+mEh//QaftFQyYOk=,0,15,30,male,9,20100902,39,30,149,149,1,20170228,20170430,0,20170315,41,5,2,4,92,104,22926.815
270150,3eURA4XmAQvcP5b0P3aOsEa2ZeCQrMK3Y0MS7daQtBg=,0,5,21,female,3,20131126,39,30,149,149,1,20170331,20170517,0,20170305,1,1,1,0,9,4,2568.485
227283,eWkNgeBCy0Dv1E8isJGckgsXcV9hUWu5KuhRLkn0LLs=,0,1,24,male,7,20160506,41,30,149,149,1,20170305,20170405,0,20170331,1,2,1,0,4,5,1068.384
222266,nYa6lA4JKQEUclojr/bfsNkfJf+IafUj8fhtmQ3sP5E=,0,5,18,female,7,20151207,41,30,99,99,1,20170324,20170424,0,20170324,27,2,3,1,48,68,14182.257
34201,VSn264U2aGMyPxX/k8ddWGzJ25hPT1feo/leNvioW1c=,0,1,0,NaN,7,20160603,41,30,99,99,1,20170303,20170403,0,20170314,1,2,0,0,18,20,4736.848
39827,N3ZsYawdwzbtPGRTAZk7lhzPCbxDzeslEGFgMh76MD0=,0,13,34,female,3,20140422,31,30,149,149,1,20170331,20170430,0,20170325,5,0,0,1,18,19,5135.921
34332,KEAempm1tmX5D/VAcQZOWV0G7nODo4hpAvN+RcCympw=,0,7,26,male,3,20131009,37,30,149,149,1,20170326,20170425,0,20170321,0,2,1,10,100,75,28297.267
322292,zn94q1jwwRmHt4a+Po/Kt4jl6+CjJr78fjw5fXOIM7Q=,0,10,22,female,3,20130131,37,30,149,149,1,20170307,20170406,0,20170317,0,1,0,0,3,4,843.342

In [5]:
# columns with missing values
print('Columns with missing values:\n', df.isna().any()[df.isna().any()])

print('\nPercent missingness in gender column:\n',
    (len(df.gender) - df.gender.value_counts().sum())
     / len(df.gender) * 100)

Columns with missing values:
 gender    True
dtype: bool

Percent missingness in gender column:
 46.23288792577401

## Pre-processing

In [6]:
# use index as ID for tidiness
df = df.drop('msno', axis=1)

## EDA

In [7]:
print('Churn percent:', df.is_churn.sum() / len(df) * 100)

Churn percent: 8.97820191875504